{% macro rain_scape() %}

<section id="rain_scape_section">
    <div class="cards_ctnr">
        <div class="card">
            <p>
                RESPONSIVE 3D INTERFACES
            </p>
        </div>
        <div class="card">
            <p>
                MANAGED DATABASES
            </p>
        </div>
        <div class="card">
            <p>
                PYTHON FRAMEWORKS
            </p>
        </div>    
    </div>
    <div id="rain_scape_ctnr" data-smoke_texture="{smoke_texture}">
    </div>
</section>

{% endmacro %}