[program:portfolio]
directory=/home/barreraalexander/portfolio
command=/home/barreraalexander/portfolio/venv/bin/gunicorn -w 3 run:app
user=barreraalexander
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
stderr_logfile=/var/log/portfolio/portfolio.err.log
stdout_logfile=/var/log/portfolio/portfolio.out.log