{% macro hero() %}


<section id="hero_section">
    <div class="hero_ctnr">
        <div class="text_ctnr">
            <div class="icon_container">
                <i class="fa-solid fa-computer"></i>
            </div>
            <h1>
                ALEXANDER <br> BARRERA
            </h1>
            <h2>
                SOFTWARE ENGINEER   
            </h2>

        </div>

        <div class="controls_ctnr">
            <p id="controls_ctnr_message">
                Control the Camera of this 3D space by clicking and dragging your mouse.
            </p>
        </div>
    </div>


    <div
        id="night_ctnr"
        
        data-moon_model="{{url_for('static', filename='images/assets/three_d/moon.glb')}}"
        data-ship_model="{{url_for('static', filename='images/assets/three_d/ship.glb')}}"
        data-planet_model="{{url_for('static', filename='images/assets/three_d/planet.glb')}}"
    >
    </div>

</section>

{% endmacro %}