{% from 'components/pieces/dramatic_h1.html' import dramatic_h1 %}
{% from 'components/pieces/button_like.html' import button_like %}


{% macro story(buttonlikes_schema) %}

<section id="story_section" loading="lazy">

    <img
        class="inksplat"
        src="{{url_for('static', filename='images/assets/ink2.svg')}}"
    >

    <div class="text_ctnr">
        {{dramatic_h1('Barrera')}}
        <p>
            I'm a self-trained web developer from <span> south florida</span>.
        </p>
        <p>
            The framework I use to build web apps and websites is <span> python flask </span> and <span> python fastapi </span>.
        </p>
        <p>
            I'm very passionate about <span> coding.</span> I am also an avid reader and find great joy in long distance running.
        </p>
    </div>


    <img
        class="me_picture"
        src="{{url_for('static', filename='images/assets/me2.JPG')}}"
        alt="profile picture of alexander barrera"
        loading="lazy"
    >


</section>

{% endmacro %}