{% from 'components/pieces/dramatic_h1.html' import dramatic_h1 %}
{% from 'components/pieces/button_like.html' import button_like %}


{% macro story(buttonlikes_schema) %}

<section id="story_section" loading="lazy">

    <img
        class="inksplat"
        src="{{url_for('static', filename='images/assets/ink2.svg')}}"
    >

    <div class="text_ctnr">
        {{dramatic_h1('Barrera')}}
        <p>
            Alexander Barrera is a self-trained web developer from <span> south florida.</span>
        </p>
        <p>
            The framework he uses to build web apps and websites is <span> python flask.</span>
        </p>
        <p>
            He speaks in the third person. <span> Curious.</span>
            And he has a sense of humor when it comes to this whole <span> professionalism </span> thing.
        </p>
    </div>


    <img
        class="me_picture"
        src="{{url_for('static', filename='images/assets/me1.png')}}"
        alt="profile picture of alexander barrera"
        loading="lazy"
    >

    {{buttonlikes_schema.call}}
    {{buttonlikes_schema.resume}}

</section>

{% endmacro %}