@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 90px $proj_gray,
        0 0 100px $proj_gray,
        0 0 150px $proj_gray;
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #fff,
        0 0 45px #fff,
        0 0 55px $proj_gray,
        0 0 70px $proj_gray,
        0 0 80px $proj_gray;
    }
  }


@keyframes shift_dot {
  from {
    background-color: #333;
  } to {
    background-color: $proj_orange;
  }
}

.apply_shift_dot{
  animation: shift_dot infinite alternate 8s;
  animation-delay: 2s;
}

@mixin mixin_shift_dot {
  animation: shift_dot infinite alternate 1s;
  
}