body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $proj_black;
    font-size: .9em;
    // overflow-x: hidden;
}


#main_ctnr{
    display: flex;
    flex-flow: column;
}


@media only screen and (min-width: $tablet_bp){
    body, html{
        // font-size: 1.1em;
        // font-size: 1.1em;
    }
}


@media only screen and (min-width: $desktop_bp){
    body, html{
        // font-size: 1.1em;
    }

}
