body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $proj_black;
    font-size: .9em;
    // overflow-x: hidden;
}


#main_ctnr{
    display: flex;
    flex-flow: column;
}

.pulse_blob {
    background: $proj_purple2;
    border-radius: 50%;
    // margin: 10px;
    height: 5px;
    width: 5px;


    box-shadow: 0 0 0 0 rgba($color: $proj_purple2, $alpha: 1.0);
    transform: scale(1);
    animation: pulse 2s infinite;


}


@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: rgba($color: $proj_purple2, $alpha: 1.0);
        // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba($color: $proj_purple2, $alpha: 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($color: $proj_purple2, $alpha: 0);
    }
}


@media only screen and (min-width: $tablet_bp){
    body, html{
        // font-size: 1.1em;
        // font-size: 1.1em;
    }
}


@media only screen and (min-width: $desktop_bp){
    body, html{
        // font-size: 1.1em;
    }

}
