body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text_color);
    background-color: var(--text_color_inv);
}

@media only screen and (min-width: $tablet_bp){
    body, html{
        font-size: 1.1em;
    }
}


@media only screen and (min-width: $desktop_bp){
    body, html{
        font-size: 1.1em;
    }
    .show_on_desktop{
        display: block;
    }  
}
