ul{
    list-style: none;
}

a{
    display: contents;
}


h1, h2, h3,
p, ul, li{
    margin: 0;
    padding: 0;
}

@mixin quiet_text {
    font-family: 'Roboto';
    font-weight: $light_weight;
    color: var(--secondary);
    
}

@mixin dramatic_text {
    color: var(--primary);
    font-family: 'Roboto Condensed';
    font-size: 1.8em;
    font-weight: $heavy_weight;
    letter-spacing: $letter_spacing;

}


.dramatic_p_ctnr{
    align-items: flex-start;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 2em;
    p{
        @include quiet_text;
    }
    .dramatic{
        @include dramatic_text;
        margin-left: .5em;
    }
}

.dramatic_p_ctnr_alt{
    align-items: flex-end;
    .dramatic{
        @include dramatic_text;
        margin-right: .5em;
    }
}



@mixin proj_h1{
    font-size: 3rem;
    letter-spacing: .03em;
    font-weight: 300;    
}

// h2{
//     font-size: 2.5em;
// }

// h3{
//     font-size: 3em;
// }

// p{
//     font-size: 1.2em; 
// }


@mixin decorated_paragraph($font_color){
    margin: .5em;
    strong{
        color: $font_color;
        font-weight: 600;
    }
}

@mixin proj_heading{
    border-bottom: .10em solid var(--text_color_inv);
    font-size: 2rem;
}


@mixin neon_text{
    animation: pulsate 2.5s infinite alternate;     
    color: var(--text_color);
    border-radius: 2em;
    text-shadow:
        0 0 .4em var(--primary),
        0 0 .10em var(--primary),
        0 0 .82em var(--primary);    
}
    
@mixin neon_box_shadow{
    box-shadow: 0 0 .2rem var(--text_color),
        0 0 .2rem var(--text_color),
        0 0 2rem var(--primary),
        0 0 0.8rem var(--primary),
        0 0 2.8rem var(--primary),
        inset 0 0 1.3rem var(--primary);        
}

@media only screen and (min-width: $desktop_bp){
    .dramatic_p_ctnr{
        font-size: 2.5em;
    }    
}