ul{
    list-style: none;
}

a{
    display: contents;
}


h1, h2, h3,
p, ul, li,
small{
    margin: 0;
    padding: 0;
    color: $proj_white;
}

form{
    display: contents;
}



@mixin lg_text{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    letter-spacing: 1.5px;
}

@mixin md_text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: .9px;
}


@mixin md_text_alt{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    letter-spacing: .9px;
}

@mixin sm_text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

}


@mixin xsm_text{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h1{
    @include lg_text;
}

h2{
    @include md_text_alt;
}

li, p{
    @include md_text;
}
 small{
     @include xsm_text;
 }



@mixin neon_text{
    animation: pulsate 2.5s infinite alternate;     
    border-radius: 2em;
    text-shadow:
        0 0 .4em var(--primary),
        0 0 .10em var(--primary),
        0 0 .82em var(--primary);    
}
    
@mixin neon_box_shadow{
    box-shadow: 0 0 .2rem var(--text_color),
        0 0 .2rem var(--text_color),
        0 0 2rem var(--primary),
        0 0 0.8rem var(--primary),
        0 0 2.8rem var(--primary),
        inset 0 0 1.3rem var(--primary);        
}
