//SECTION: colors
$proj_black: #000;
$proj_gray: #111;
$proj_lgray: #BCBCBC;
$proj_white: #fff;
$proj_orange: #FFA759;
$proj_purple: #6701ff;

// purple 2 is actually in use
$proj_purple2: #6340ff;


$tl_navy_bg: #0E3D51;
$tl_teal_bg: #4a9ea6;

$up_green: #14a800;
$up_dark: #3c8224;
$up_light: #88c872;


$tod_primary : #03142a;
$tod_secondary : #14eeee;

$ppb_primary : #34345D;
$ppb_secondary : #41F2FF;

$lit_primary : #49f1b9;
$lit_secondary : #2f2f2f;

$port_primary : #000;
$port_secondary : #fff;

$neu_blue : #4333b3;
$neu_red : #b33333;
$neu_green: #00ffab;
$neu_purple: #f3a1ff;
$neu_yellow: #fffb00;


//SECTION: colors for dark theme
$dk_bg: #222;
$dk_primary: #000;
$dk_accent: #111;

$dk_theme_primary: #fff;
$dk_theme_secondary: #f2f2f2;
$dk_shadow: #333;


$tool_mastered_dk: #01812E;
$tool_learning_dk: #2e07db;
$tool_covet_dk: #AC2300;

//SECTION: breakpoints
$tablet_bp: 767px;
$desktop_bp: 1400px;
// $desktop_4k_bp: 3839px;


// COMMON TYPO
$letter_spacing: .2em;
$letter_spacing2: .3em;
$light_weight: 300;
$reg_weight: 400;
$heavy_weight: 600;
$border_radius: .9em;
$border_lgradius: 1.1em;
$border_width: .09em;
$border_width_thick: .2em;
$common_margin_top: 3em;
$common_section_padding: 2em;

$font1: 'Roboto Slab', serif;
$font2: 'Montserrat', sans-serif;
