@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px var(--bg_invert),
        0 0 11px var(--bg_invert),
        0 0 19px var(--bg_invert),
        0 0 40px var(--primary),
        0 0 80px var(--primary),
        0 0 90px var(--primary),
        0 0 100px var(--primary),
        0 0 150px var(--primary);
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px var(--bg_invert),
        0 0 4px var(--bg_invert),
        0 0 6px var(--bg_invert),
        0 0 10px var(--primary),
        0 0 45px var(--primary),
        0 0 55px var(--primary),
        0 0 70px var(--primary),
        0 0 80px var(--primary);
    }
  }




  @-webkit-keyframes shifting_gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes shifting_gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@mixin pink_shifting_bg{
    background: linear-gradient(45deg, var(--theme_accent), var(--primary));
    background-attachment: fixed;
    background-size: 100% 100%;

    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 400% 400%;

    animation: shifting_gradient 8s ease infinite;
    -webkit-animation: shifting_gradient 8s ease infinite;
}


@-webkit-keyframes dissolving {
    from {opacity:1;}
    to {opacity:0;}
}

@keyframes dissolving {
    from {
        opacity:1;
    }
    to {
        opacity:0;
        display: none;
        height: 0em;
    }
}


@-webkit-keyframes dissipate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes dissipate {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.dissipation{
    -webkit-animation: dissipate .5s ease;
            animation: dissipate .5s ease;
}




@-webkit-keyframes show_menu {
    from {
        right: 'initial';
    }
    to {
        right: 0em;
    }
}

@keyframes show_menu {
    from {
        right: 'initial';
    }
    to {
        right: 0em;
    }
}

@-webkit-keyframes hide_menu {
    from {
        right: -15em;
    }
    to {
        right: 0em;
    }
}

@keyframes hide_menu {
    from {
        right: -15em;
    }
    to {
        right: 0em;
    }
}

.apply_show_menu{
    -webkit-animation: show_menu ease 1 forwards;
    animation: show_menu ease 1 forwards;
    animation-duration: .8s;
}

.apply_hide_menu{
    -webkit-animation: hide_menu ease 1 forwards;
    animation: hide_menu ease 1 forwards;
    animation-duration: .8s;
}



@keyframes shifting_filter {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(90deg);
    }
}

@-webkit-keyframes shifting_filter {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(90deg);
    }
}

@mixin shift_filter {
    -webkit-animation: shifting_filter 5s ease infinite alternate;
    animation: shifting_filter 5s ease infinite alternate;
    mix-blend-mode: luminosity;

}