#index_section1{
    height: 80vh;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    h1{
        font-size: 6rem;
        text-align: center;
        left: 0;
        right: 0;
        margin-right: 0;
        margin-left: 0;
        position: absolute;
        z-index: 1000;
    }
}

#world_ctnr{
    z-index: 999;
    opacity: .6;
    // position: absolute;
    // top: 0;
}

#globe_canvas{
    // position: absolute;
    outline: none;
    mix-blend-mode: exclusion;
    width: 100%;
}


#index_section2{
    background-color: #111;
    padding: 2em 4em;
    h2{
        letter-spacing: 4px;
        text-align: left;
        font-size: 3rem;
        text-decoration: underline;
    }
    p{
        text-align: justify;
    }
    span{
        color: $primary1;
    }
}

#clips_ctnr{
    display: flex;
    flex-flow: row wrap;    
    gap: 4em;
    // justify-content: flex-start;
    justify-content: center;
    width: 100%;
    margin-left: 2em;

}

.img_standin{
    width: 8em;
    background-color: #fff;
    height: 30em;
}


.dramatic_p{
    font-size: 3rem;
    margin-right: 2em;
    line-height: 2.4rem;
    span{
        color: $primary2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}

#index_section3{
    padding: 2em 4em;
    p{
        text-align: right;
    }
    span{
        color: $primary2;
    }
}

.technologies_ctnr{
    background-color: #111;
    border: 2px solid $primary2;
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    justify-content: space-evenly;
    img{
        width: 5em;
    }
}


// #index_section1{
//     #main_div{
//         background-color: $proj_black;
//         border-radius: 15px;
//         height: 75vh;
//         padding: .8em;
//         padding-top: 1px;
//         text-align: center;
//         width: 90%;
//         margin: 1em auto;
//         box-shadow: 1px 1px 3px #BCBCBC;
//         p{
//             font-size: 1rem;
//             font-weight: 500;
//         }
//         span:first-child{
//             color: $primary2;
//             font-weight: 700;
//             letter-spacing: 1.2px;
//         }
//         span{
//             color: $primary1;
//             font-size: 1.2rem;
//             font-weight: 600;

//         }
//     }
//     #media_div{
//         background-color: #fff;
//         border-radius: 15px;
//         height: 50%;
//         width: 90%;
//         margin: 1em auto;
//     }
//     #skill_div{
//         border: 1.5px solid $primary1;
//         border-radius: 15px;
//         height: 25%;
//         margin: 0 auto;
//         width: 90%;
//         display: flex;
//         flex-direction: row;
//         align-content: space-between;
//         div{
//             width: 45%;
//         }
//         h2{
//             font-size: .7rem;
//             font-weight: 600;
//         }
//     }
//     #text_div{
//         margin: 0;
//         padding: 0;
//         line-height: 1.3rem;
//     }
//     #bottom_nav{
//         bottom: 0;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         position: fixed;
//         width: 100%;
//         div{
//             background-color: $proj_black;
//             border: 1.5px solid $primary2;
//             height: 15vh;
//             margin-top: 1em;
//             text-align: center;
//             width: 33%;
//         }
//         p{
//             font-size: .8rem;
//             font-weight: 500;
//             margin: .4em;
//         }
//         img{
//             margin-top: .5em;
//         }
//         #portfolio_img{
//             margin-top: .5em;
//             width: 50%;
//             max-height: 5em;
//         }
//         #aboutme_img{
//             margin-top: .5em;
//             max-height: 5em;
//             width:30%;
//         }
//         #contactme_text{
//             color: $primary2_alt;
//             padding: 0;
//             font-size: 3em;
//             font-weight: 600;
//             margin: 0;
//         }
//     }
//     .skills_img_flex{
//         display: flex;
//         flex-direction: row;
//     }
// }

// .span1{
//     color: $primary1;
// }