.hide_on_mobile{
    display: none;
}

.hide_on_tablet{
    display: none;
}

.show_on_desktop{
    display: none;
}

@media only screen and (min-width: $tablet_bp){
    body, html{
        font-size: 1.3em;
    }
    .show_on_tablet{
        display: block;
    }
    .hide_on_tablet{
        display: block;
    }
    .hide_on_mobile{
        display: block;
    }
    #base_footer_section{
    }
}


@media only screen and (min-width: $desktop_bp){
    body, html{
        font-size: 1.3em;
    }

    .show_on_desktop{
        display: block;
    }
    
    .aboutme_text{
        font-size: 1.5rem;
    }
    .img_of_me{
        width: 12em;
    }
    .aboutme_ctnr{
        justify-content: center;
        gap: 3em;
    }
    .aboutme_paragraph, .workflow_text{
        max-width: 80%;
        margin-left: 1.5em;
    }
    #base_footer_section{
        footer{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
        }
    }
    #index_section2{
        padding: 2em 4em;
    }
    #index_section4{
        padding: 2em 4em;
    }
    .img_ctnr{
        max-width: 360px;
    }
    .dramatic_p{
        font-size: 2.2rem;
    }
    .project{
        p{
            font-size: 1.8rem;
        }
    }
}

@media only screen and (min-width: $desktop_4k_bp){
    body, html{
        font-size: 2.3em;
    }
    .img_ctnr{
        max-width: 1100px;
    }
    .project{
        margin-bottom: 4em;
    }

}