@mixin shifting_bg($h, $w){
    opacity: .7;
    height: $h;
    width: $w;

    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    -webkit-animation: shifting_gradient 5s ease infinite;
            animation: shifting_gradient 5s ease infinite;

}


@mixin primary_btn{
    background-color: var(--primary);
    border: .15em solid var(--text_color_inv);
    border-radius: .9em;
    color: var(--text_color_inv);
    padding: .02em, 1em;
    font-weight: 600;
}

@mixin inverse_btn{
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: .9em;
    background-color: var(--theme_accent);
    padding: .02em, 1em;
}

@mixin shadow{
    box-shadow: .1em .1em .6em .02em var(--theme_accent);
}

@mixin shadow_alt{
    box-shadow: .1em .1em .6em .02em var(--accent);
}




@mixin shifting_bg($color1, $color2){

}