@mixin shifting_bg($h, $w){
    opacity: .7;
    height: $h;
    width: $w;

    background: linear-gradient(-45deg, $primary1, $primary2, $primary2_alt );
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    -webkit-animation: shifting_gradient 5s ease infinite;
            animation: shifting_gradient 5s ease infinite;

}




@-webkit-keyframes shifting_gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes shifting_gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}