//SECTION: colors
$primary1: #FFBB7F;
$primary2: #77FFC0;
$primary2_alt: #94FF75;
$proj_black: #2E2E2E;
$proj_gray: #BCBCBC;



//SECTION: breakpoints
$tablet_bp: 767px;
$desktop_bp: 1919px;
$desktop_4k_bp: 3839px;
