body, html {
  height: calc(100% - 2em);
  margin: 0;
  font-family: 'GoogleSans', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #000; }

#base_aside aside {
  background-color: #2E2E2E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .3em 1.5em;
  max-height: 5vh; }

#base_aside h1 {
  color: #FFBB7F;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin: 0; }

#base_aside img {
  width: 2em; }

#index_section1 {
  position: relative;
  z-index: 1000; }
  #index_section1 h1 {
    font-size: 8rem;
    text-align: center;
    left: 0;
    right: 0;
    margin-right: 0;
    margin-left: 0;
    position: absolute;
    z-index: 1000; }

#world_ctnr {
  z-index: 999; }

#globe_canvas {
  outline: none;
  mix-blend-mode: exclusion;
  width: 100%; }
