body, html {
  height: calc(100% - 2em);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #000; }

#base_aside aside {
  background-color: #2E2E2E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5em; }

#base_aside h1 {
  color: #FFBB7F;
  font-size: 2rem;
  letter-spacing: 3px;
  margin: 0; }
