.hide_on_mobile{
    display: none;
}

.hide_on_tablet{
    display: none;
}

.show_on_desktop{
    display: none;
}

@media only screen and (min-width: $tablet_bp){
    body, html{
        font-size: 1.3em;
    }
    .show_on_tablet{
        display: block;
    }
    .hide_on_tablet{
        display: block;
    }
    .hide_on_mobile{
        display: block;
    }
    #base_footer_section{
    }
}


@media only screen and (min-width: $desktop_bp){
    body, html{
        font-size: 1.3em;
    }

    .show_on_desktop{
        display: block;
    }
    
    .aboutme_text{
        font-size: 1.5rem;
    }
    .img_of_me{
        width: 12em;
        filter: grayscale(100%);
    }
    .aboutme_ctnr{
        justify-content: center;
        gap: 3em;
    }
    .aboutme_paragraph, .workflow_text{
        max-width: 80%;
        margin-left: 1.5em;
    }
    #base_footer_section{
        footer{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
        }
    }
    #index_section2{
        padding: 2em 4em;
    }
    #index_section4{
        padding: 2em 4em;
    }

    .dramatic_p{
        font-size: 2.2rem;
    }
    .project{
        p{
            font-size: 1.8rem;
        }
    }
    .enlarge_div{
        transform: translate(0, -4em);
    }
    .shifting_grill_ctnr{
        
    }
    .project{
        margin-bottom: 6em;
        padding: 1em;
    }
    .project:hover{
        background-color: #f1f1f1;
        color: #000;
        transform: scale(1.05);
        strong{
            color: #000;
            font-weight: 600;
        }
        a{
            font-weight: 700;
            color: var(--primary);
        }
        .shifting_grill_ctnr{
            display: none;
        }
        img{
            // width: 25em;
            transform: scale(3);
            transition: .5s;
            border: 1px solid var(--secondary);
        }
    }
    .shifting_grill_ctnr{
        position: absolute;
        width: 10em;
        height: 10em;
        transform: scale(1.5);
    }
    
}

@media only screen and (min-width: $desktop_4k_bp){
    body, html{
        font-size: 2.3em;
    }
    .img_ctnr{
        max-width: 1100px;
    }
    .project{
        margin-bottom: 10em;
        p{
            font-size: 2.8rem;
        }
        a{
            font-size: 1.4rem;
        }
    }
    .project:hover{
        img{
            transform: scale(2);
        }
    }
    .image_caption{
        padding-top: 0;
        margin-top: 2em;
    }
    .technologies_ctnr{
        .tech_img_ctnr{
            width: 6rem;
            height: 6rem;
        }
    }
    .dramatic_p{
        line-height: 4rem;
        font-size: 4rem;
        strong{
            font-size: 2.5rem;
            letter-spacing: 20px;
        }
    }
    #index_section4 h2{
        font-size: 3rem;
    }
    #base_footer_section h5{
        font-size: 2.3rem;
    }
    #base_footer_section a{
        font-size: 2rem;
    }
}