@mixin shifting_bg($h, $w){
    opacity: .7;
    height: $h;
    width: $w;

    background: linear-gradient(-45deg, var(--primary), var(--secondary), $primary2_alt );
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    -webkit-animation: shifting_gradient 5s ease infinite;
            animation: shifting_gradient 5s ease infinite;

}


@mixin neon_text{
    animation: pulsate 2.5s infinite alternate;     
    color: var(--text_color);
    padding: 2em;
    border-radius: 2em;
    text-shadow:
      0 0 .4em var(--primary),
      0 0 .10em var(--primary),
      0 0 .82em var(--primary);
    
    box-shadow: 0 0 .2rem var(--text_color),
              0 0 .2rem var(--text_color),
              0 0 2rem var(--primary),
              0 0 0.8rem var(--primary),
              0 0 2.8rem var(--primary),
              inset 0 0 1.3rem var(--primary);
}