.button_like{
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
    width: 8em;
    border-radius: 10px;
    padding: .5em .25em;
    border: 2px solid transparent;
    img{
        width: 1em;
    }
}

.button_like[data-variant="0"]{
    background-color: $proj_orange;

    p{
        @include lg_text;
        color: #000;
    }
}

.button_like[data-variant="1"]{
    border-color: $proj_orange;
    background-color: $proj_gray;
    p{
        @include lg_text;
        color: $proj_orange;
    }
}

.button_like[data-variant=neu1]{
    background-color: #fff;
    transform: rotate(5deg);
    box-shadow: 5px 5px 0 3px #000;
    p{
        color: #000;
    }
}


.button_like[data-variant=neu2]{
    background-color: $proj_orange;
    // transform: rotate(-5deg);

    box-shadow: 5px 5px 0 3px #000;
    border: 4px solid #000;
    transform: rotate(-5deg);

    p{
        color: #000;
    }
}

.button_like[data-variant=min1]{
    @include light_shadow;
    background: $proj_orange;
    border: 4px solid #000;
    p{
        @include lg_text;
        color: #000;
    }
}

.button_like[data-variant=min2]{
    @include light_shadow;
    background: #000;
    border: 4px solid transparent;
    p{
        @include lg_text;
        color: #fff;
    }
}

.button_like[data-variant=glass]{
    background: #000;
    border: 4px solid transparent;
    p{
        @include lg_text;
        color: #E0FF00 !important;
        font-weight: 600 !important;
    }
    img{
        font-size: 1.8em;
    }
}


.button_like:hover{
    cursor: pointer;
    filter: brightness(1.2);
    
}