@mixin proper_button{
    border: 2px solid transparent;
    outline: none;
    padding: .5em 1.5em;
    border-radius: 10px;
    text-align: center;
}

.orange_btn{
    @include proper_button;
    @include lg_text;
    background-color: $proj_orange;
    color: $proj_black;
}

.rev_orange_btn{
    @include proper_button;
    @include lg_text;
    color: $proj_orange;
    background-color: $proj_black;
    border-color: $proj_orange;
}


.orange_btn:hover,
.orange_btn:focus{
    filter: brightness(1.3);
    cursor: pointer;
    transition: .5s;
}

.rev_orange_btn:hover,
.rev_orange_btn:focus{
    filter: brightness(1.4);
    cursor: pointer;
    transition: .5s;
}