.comments_ctnr{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin-top: $common_margin_top;
    position: relative;
}

.comment_ctnr{
    display: flex;
    flex-flow: column;
    padding: 2em;
    width: 90%;
    min-width: 10em;
    max-width: 30em;
    .comment{
        @include quiet_text;
    }
    .author{
        @include dramatic_text;
        text-align: center;
    }
    a{
        @include quiet_text;
        text-align: center;
        text-decoration: underline;
    }
    a:hover{
        font-weight: $reg_weight;
    }
}

.comment_svg_ctnr{
    display: none;
    right: 0;
    top: -17em;
    opacity: .2;
    position: absolute;
    width: 20em;
    img{
        width: 100%;
    }
}


@media only screen and (min-width: $desktop_bp) {
    .comment_svg_ctnr{
        display: block;
    }
}