.projects_ctnr{
    display: flex;
    flex-flow: column nowrap;
    margin-top: $common_margin_top;
    width: 100%;
    position: relative;
    width: 100%;
}

.project_cards_ctnr{
    // display: flex;
    //FIX: DELETE ORIGINAL CODE OR REVERT TO FLEX
    display: none !important;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
    margin-top: $common_margin_top;
}

.project_card{
    align-items: center;
    background-color: var(--primary);
    border-radius: $border_radius;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 1em;
    gap: .25em;
    flex: 1;
    h3{
        @include dramatic_text;
        color: var(--text_color_inv);
        letter-spacing: unset
    }
    a,p{
        @include quiet_text;
        color: var(--text_color_inv);
        text-align: center;
    }
    .images_ctnr{
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        justify-content: center;
    }
    
    img{
        border: $border_width_thick solid var(--text_color_inv);
        border-radius: $border_radius;
        margin-top: 1em;
        min-width: 10em;
        max-width: 20em;
    }
    ul{
        display: none;
        flex-flow: column;
        justify-content: flex-start;
        gap: 2em;
        margin-top: 2em;
    }
}
