.skill_card{
    background-color: #111;
    height: 15em;
    border-radius: 20px;
    width: 80%;
    max-width: 20em;
    padding: 1em;
    position: relative;

    // clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);


    .skill_card_contents{
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 1em;
    }

    .skill_img{
        width: 2em;
    }
    h2{
        // @include lg_text;
        @include md_text_alt;
        text-align: center;
    }
    p{
        margin-top: 1em;
        font-weight: 600;
    }
    .dotted_bg_ctnr{
        position: absolute;
        background-color: #000;
        // height: 110%;
        // width: 110%;
        height: 60%;
        width: 60%;
        display: flex;
        flex-flow: row wrap;
        gap: .33em;
        justify-content: center;
        z-index: -1;
    }
    
    .dotted_bg_ctnr[data-variant="1"]{
        right: -1em;
        top: -1em;
        
    }
    
    .dotted_bg_ctnr[data-variant="2"]{
        left: -1em;
        top: -1em;
    }

    .dot{
        background-color: #333;
        border-radius: 50%;
        height: .5em;
        width: .5em;
    }
}


.skill_card[data-variant="1"]{
   left: -100em; 
}

.skill_card[data-variant="2"]{
   right: -100em; 
}