@media only screen and (min-width: $tablet_bp){
    #base_section{
        background-color: red;
    }
}

@media only screen and (min-width: $desktop_bp){
    #base_section{
        ul{
            justify-content: flex-end;
            gap: 2em;
            margin-right: 1em;
        }
    }
}

@media only screen and (min-width: $desktop_xw_bp){
}

@media only screen and (min-width: $desktop_4k_bp){
}