@mixin cust_h1{
    font-size: 4rem;
    letter-spacing: .05em;
    font-weight: 400;
}
@mixin cust_h2{

}

@mixin cust_p{

}
@mixin cust_a{

}
@mixin cust_li($fontsize){
    font-size: $fontsize;
    font-weight:  600;
}



