$primary1: #FFBB7F;
$primary2: #77FFC0;
$primary2_alt: #94FF75;
$accent_dark: #707070;
$accent_light: #f1f1f1;
$accent_light2: #000;

//SECTION: LIGHT THEME
$lt_bg: #BCBCBC;
// $lt_bg: #fff;



//SECTION: DARK THEME
$dk_bg: #2E2E2E;
// $dk_bg: #2E2E2E;





//SECTION: BREAKPOINTS
$tablet_bp: 768px;
$desktop_bp: 1919px;
$desktop_xw_bp: 2879px;
$desktop_4k_bp: 3839px;
