{% from 'components/pieces/button_like.html' import button_like %}
{% from 'components/navigation/linkset.html' import linkset %}

{% macro hidden(buttonlikes_schema) %}

<section id="hidden_section">
    <div class="glass_back">
    </div>
    <div class="modal_ctnr">
        <nav>
            <ul>
                <img
                    id="close_hidden_menu"
                    class="close_navigation_menu navigation_button"
                    src="{{url_for('static', filename='images/assets/icons/cancel.svg')}}"
                    alt="close icon"
                    aria-label="closes the mobile navigation menu"
                >
                {{linkset()}}
                {{button_like(buttonlikes_schema.call)}}
                {{button_like(buttonlikes_schema.resume)}}
            </ul>
        </nav>
    </div>
</section>

{% endmacro %}
