{% extends 'base.html' %}


{% block content %}
    <main>

        <section id="about_section">
            <h1>About Me</h1>
            <div class="about_me_ctnr">
                <div class="about_me">
                    <strong>Coding</strong>
                    <p>
                        This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. 
                        <br>
                        <br>
                        This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. 
                    </p>
                </div>
                <hr>
                <div class="about_me">
                    <strong>Personal</strong>
                    <p>
                        This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. 
                        <br>
                        <br>
                        This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. This is about me. This is about me.                     </p>
                </div>
            </div>
        </section>
        
    </main>
{% endblock %}