{% from 'components/navigation/header.html' import header %}
{% from 'components/navigation/footer.html' import footer %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <meta name="description" content="{{META_DICT['description']}}">
        <meta name="keywords" content="{{META_DICT['keywords']}}" />                

        


        <!-- Montserrot Fonts 100, 300  -->
        <!-- Roboto Slab Fonts 300, 400, 700  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,300&family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">



        {% assets "main_scss" %}
            <link rel="stylesheet" href="{{ASSET_URL}}">
        {% endassets %}

        <title>
            {{title}} | {{meta_schema.domain_name.text}}
        </title>


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GTVEWBYR4P"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GTVEWBYR4P');
        </script>



        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{META_DICT['domain_name']}}" />
        <meta property="og:description" content="{{META_DICT['description']}}" />
        <meta property="og:url" content="{{META_DICT['domain']}}" />
        <meta property="og:site_name" content="{{META_DICT['domain_name']}}" />
        
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{META_DICT['description']}}" />
        <meta name="twitter:title" content="{{META_DICT['domain_name']}}" />

    </head>

    <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r92/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        {{header()}}
        {{contact_modal()}}
        {{github_tab()}}

        {% block content %}
        {% endblock %}
        
        {{footer(socials_schema)}}

        <script
            src="{{url_for('static', filename='js/animations/contact_modal.js')}}">
        </script>

        <script
            src="{{url_for('static', filename='js/animations/hidden.js')}}">
        </script>

        <script
            src="{{url_for('static', filename='js/animations/dramatic_h1.js')}}">
        </script>



    </body>
</html>