{% extends 'base.html' %}

{% block content %}
<main>
<section id="index_section1">
    <div id="main_div">
        <div class="text_div">
            <p>
                class
                <span> Portfolio</span>
                <br>
                project_name =
                <span>Hotel+</span>
                <br>
                Github =
                <span>www.linkislong</span>
                <br>
                slideshow.
                <span>RUN</span>
            </p>
        </div>

        <div id="media_div">

        </div>
        <div id="skill_div">
            <div>
                <h2>
                    Languages I Write
                </h2>
                <div class="skills_ img_flex">
                    <img src="{{url_for('static', filename='images/assets/python.svg')}}" alt="python">
                    <img src="{{url_for('static', filename='images/assets/html5-shield.svg')}}" alt="html5-shield">
                    <img src="{{url_for('static', filename='images/assets/css-shield.svg')}}" alt="css-shield">
                    <img src="{{url_for('static', filename='images/assets/javascript-shield.svg')}}" alt="javascript-shield">
                    <img src="{{url_for('static', filename='images/assets/mysql.svg')}}" alt="mysql">
                    
                </div>
            </div>
            <hr>
            <div>
                <h2>
                    Technologies I Use
                </h2>
            </div>
        </div>
    </div>
    <div id="bottom_nav">
        <div>
            <p>PORTFOLIO</p>
            <img id="portfolio_img" src="{{url_for('static', filename='images/assets/portfolio-green.svg')}}" alt="PORTFOLIO">
        </div>
        <div>
            <p>ABOUT ME</p>
            <img id="aboutme_img" src="{{url_for('static', filename='images/assets/me-green.svg')}}" alt="ABOUT ME">
        </div>
        <div>
            <p>CONTACT</p>
            <p id="contactme_text">@</p>
        </div>
    </div>
</section>
</main>
{% endblock content %}