<!DOCTYPE html>

<html lang="en" data-main_theme="light">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=GoogleSans:wght@100;400&display=swap" rel="stylesheet">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
        <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=GoogleSans:wght@100;400&display=swap" rel="stylesheet">    

        {% assets "main_scss" %}
            <link rel="stylesheet" href="{{ASSET_URL}}">
        {% endassets %}

        <title>
            {{title}} | {{META_DICT['domain_name']}}
        </title>

    </head>

    <body>
        {% if title != "Home" %}
            <section id="base_aside_section" style="position: relative;">
        {% else %}
            <section id="base_aside_section">
        {% endif %}
            <aside>
                <ul id="main_nav">
                    <li class="h1_flexi">
                        <a href="{{url_for('main.index')}}">
                            <h1>
                                Alexander Barrera
                            </h1>
                        </a>
                    </li>
                    <li class="light_switch_flexi">
                        <div class="light_switch_ctnr">
                            <div class="switch"></div>
                        </div>
                    </li>
                    <li class="menu_flexi">
                        <img
                            id="hamburger"
                            src="{{url_for('static', filename='images/assets/hamburger.svg')}}"
                            data-light_src="{{url_for('static', filename='images/assets/hamburger_alt.svg')}}"
                            data-dark_src="{{url_for('static', filename='images/assets/hamburger.svg')}}"
                            alt="nav button"
                            >
                    </li>
                    {{link_set('main_nav')}}
                </ul>
                <ul id="hidden_nav" data-menu_status='closed'>
                    {{link_set('hidden_nav')}}
                </ul>
            </aside>
        </section>

        {{contact_modal()}}

        {% block content %}{% endblock %}

        <section id="base_footer_section">
            <footer>
                <div class="footer_left">
                    <h5>
                        Contact Me
                    </h5>
                    <ul>
                        <li>
                            <a href="tel:{{CONTACT_DICT['phone']}}">
                                ☎ {{CONTACT_DICT['phone']}}
                            </a>
                        </li>
                        <li>
                            <a href="#" class='open_modal'>
                                ✉ Fillout the Form
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer_right">
                    <h5>
                        See my Works
                    </h5>
                    <ul>
                        <li>
                            <a href="{{CONTACT_DICT['github_link']}}">
                                😺 Checkout my github
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('static', filename='docs/BarreraAlexanderResume21.docx')}}" download>
                                📃 Download my resume (docx)
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('static', filename='docs/BarreraAlexanderResume21.pdf')}}" download>
                                📃 Download my resume (pdf) 
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
        </section>


        {% assets "main_js" %}
            <script type="text/javascript" src="{{ ASSET_URL}}"> </script>
        {% endassets %}

    </body>
</html>