<!DOCTYPE html>

<html lang="en" data-main_theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=GoogleSans:wght@100;400&display=swap" rel="stylesheet">

        {% assets "dark_scss" %}
            <link rel="stylesheet" href="{{ASSET_URL}}">
        {% endassets %}

    </head>

    <body>
        <!-- //SECTION: base_aside -->
        <section id="base_aside_section">
            <aside>
                <ul>
                    <li class="h1_flexi">
                        <h1>
                            <a href="#">
                                ALEXANDER BARRERA
                            </a>
                        </h1>
                    </li>
                    <li class="light_switch_flexi">
                        <div class="light_switch_ctnr">
                            <div class="switch"></div>
                        </div>
                    </li>
                    <li class="menu_flexi">
                        <img src="{{url_for('static', filename='images/assets/hamburger.svg')}}" alt="nav button">
                    </li>
                    <li dataset-mquery="hide_on_mobile">
                        <a href="#">
                            HOME
                        </a>
                    </li>
                    <li dataset-mquery="hide_on_mobile">
                        <a href="#">
                            ABOUT
                        </a>
                    </li>
                    <li dataset-mquery="hide_on_mobile">
                        <a href="#">
                            CONTACT
                        </a>
                    </li>
                </ul>
            </aside>
        </section>

        {% block content %}{% endblock %}

        <section id="base_footer_section">
            <footer>
                <div class="footer_left">
                    <h5>
                        CONTACT ME
                    </h5>
                    <ul>
                        <li>
                            <a href="">
                                954 882 8507 ☎
                            </a>
                        </li>
                        <li>
                            <a href="">
                                barreraalexander93@gmail.com ✉
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer_right">
                    <h5>
                        SEE MY WORKS
                    </h5>
                    <ul>
                        <li>
                            <a href="{{CONTACT_DICT['github_link']}}">
                                Checkout my github 😺
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('static', filename='docs/BarreraAlexanderResume21.docx')}}" download>
                                Download my resume (docx) 📃
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('static', filename='docs/BarreraAlexanderResume21.pdf')}}" download>
                                Download my resume (pdf) 📃
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
            <div class="lets_build">
                <button>
                    LET'S BUILD SOMETHING
                </button>
            </div>
        </section>


        {% assets "main_js" %}
            <script type="text/javascript" src="{{ ASSET_URL}}"> </script>
        {% endassets %}
    </body>
</html>