{% extends '_base.html' %}

{% from 'components/sections/hero.html' import hero %}
{% from 'components/sections/skills.html' import skills %}
{% from 'components/sections/titleleap.html' import titleleap %}
{% from 'components/sections/experience.html' import experience %}
{% from 'components/sections/story.html' import story %}
{% from 'components/sections/resume_like.html' import resume_like %}

{% block content %}

<main>
    {{hero()}}
    {{skills(skill_schemas)}}
    {{titleleap()}}
    {{experience(experience_schemas)}}
    {{story(buttonlikes_schema)}}
    {{resume_like(comment_schemas)}}
</main>





{% endblock content %}