{% extends '_base.html' %}

{% from 'components/sections/ui_styles/minimalism.html' import minimalism  %}


{% block content %}

<main>
    {{minimalism(buttonlikes_schema)}}

</main>



{% assets javascript_asset_name %}

<script
    type="text/javascript"
    src="{{ASSET_URL}}"

>
    
</script>

{% endassets %}

{% endblock %}




<!-- 
from website.components.sections.neubrutalism import component as neubrutalism
from website.components.sections.minimalism import component as minimalism
from website.components.sections.glassmin import component as glassmin
from website.components.sections.interactive_donut import component as interactive_donut
def component():
    return Markup(f"""
    <section id="styles_section">
        {minimalism()}
        {glassmin()}
        {interactive_donut()}
        {neubrutalism()}
    </section>
    """) -->