#contact_modal_section{
    background-color: rgba($color: $proj_black, $alpha: .7);
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 4000;
    // display: flex;
    justify-content: center;
    align-items: center;

    display: none;
    opacity: 0;
    filter: blur(400px);



    .modal_ctnr{
        position: relative;
        width: 80%;
        padding: 1em;
        height: 60%;
        background-color: rgba($color: $proj_black, $alpha: .7);
        z-index: 100;
        border-radius: 10px;
        max-width: 30em;
    }
    .glass_back{
        background-color: rgba($color: $proj_white, $alpha: .2);
        filter: blur(70px);
        position: absolute;
        height: 80%;
        width: 80%;
        z-index: 99;
    }
    .form_ctnr{
        display: flex;
        flex-flow: column;
        gap: 1.5em;
        img{
            width: 1.5em;
            align-self: flex-end;
            mix-blend-mode: color;
        }
        img:hover{
            cursor: pointer;
            mix-blend-mode: unset;
            transition: 1s;
        }
    }
    .form_group{
        display: flex;
        flex-flow: column;
        gap: .25em;
        .label_ctnr{
            display: flex;
            gap: .25em;
            align-items: center;
            label{
                @include lg_text;
                color: $proj_white;
            }
            small{
                font-size: .7em;
                color: $proj_lgray;
            }
        }
        input,
        textarea{
            @include xsm_text;
            border: 2px solid transparent;
            border-radius: 2px;
            outline: none;
            max-width: 25em;
            padding: .5em;
            width: 75%;
        }
        textarea{
            resize: vertical;
            max-height: 10em;
        }
        input:hover,
        textarea:hover{
            background-color: $proj_lgray;
            border-color: $proj_lgray;
            cursor: pointer;
            transition: .5s;
        }
        input:focus,
        textarea:focus{
            transition: .5s;
            border-color: $proj_orange;   
            background-color: $proj_white;
        }
        #submit{
            @include lg_text;
            width: max-content;
        }
    }
}

