#experience_section{
    background-color: $proj_gray;
    // height: 100vh;
    padding: 1em;
    h1{
        text-align: center;
    }
    .experience_ctnr{
        align-items: center;
        display: flex;
        // flex-flow: column;
        gap: 3em;
        
        max-width: 55vw;
        flex-flow: row wrap;
        margin: 0 auto;
        justify-content: center;
        margin-top: 2em;
    }

    .experience{
        // background-color: red;
        padding: 1em;
        width: 10em;
        h3{
            font-size: 3em;
            margin-bottom: .25em;
            color: $proj_orange;
        }

        h3, p{
            text-align: center;
        }
    }

    .chart_ctnr{
        display: none;
        // display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 3em;
        width: 80vw;
        max-width: 50em;
        // width: 60%;
        // background-color: $proj_orange;
        // height: 20vh;
        canvas{
            // width: 100%;
        }
    }

}


@media only screen and (min-width: $tablet_bp){
    #experience_section{
        .chart_ctnr{
            display: flex;
        }
    }
}

// @property --num{
        
// }


// @property --num {
//     syntax: '<integer>';
//     initial-value: 0;
//     inherits: false;
// }
