#hero_section{
    height: 85vh;
    overflow: hidden;
    position: relative;
    .hero_ctnr{
        align-items: center;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        display: flex;
        flex-flow: column;
        height: 100%;
        position: absolute;
        justify-content: center;
        width: 100%;
        z-index: 100;
        h1{
            @include neon_text;
            text-align: left;
            font-size: 2em;
        }
        h2{
            font-size: 1.5em;
            text-align: center;
        }
    }

    #night_ctnr{
        position: relative;
        z-index: 97;
        filter: blur(50px);
        opacity: .8;
    }
    
    
    #globe_canvas{
        outline: none;
        mix-blend-mode: exclusion;
        width: 100%;
        height: 100vh;
    }
    
    
    #mountain{
        bottom: 0;
        display: block;
        // filter: saturate(60);
        mix-blend-mode: luminosity;

        position: absolute;
        width: 100%;
        z-index: 98;
    }
}



@media only screen and (min-width: $tablet_bp){
    #hero_section{
        font-size: 1.6em;
    }
}

@media only screen and (min-width: $desktop_bp){
    #hero_section{
        height: 85vh;
        font-size: 2em;
        .hero_ctnr{
            top: -5em;
            justify-content: flex-end;
            height: 85%;
        }
        #mountain{
            bottom: -100px;
        }
    }

}
