#minimalism_section{
    // height: 100vh;
    background-color: #f3f3f3;
    overflow: hidden;
    padding: 3em 0;
    position: relative;
    min-height: 80vh;
    .blob_bg{
        position: absolute;
        // width: 10em;
        width: 15em;
        left: 0em;
        right: 0em;
        mix-blend-mode: multiply;
        top: -4em;
        z-index: 10;
        margin: 0 auto;
        filter: blur(100px);



    }

    .hero_text_ctnr{
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: 1em;
        position: relative;
        z-index: 9;

        h1{
            font-size: 4em;
            text-align: center;
            color: $proj_orange;
        }
        .description{
            color: #000;
            text-align: center;
            width: 75%;
        }
        span{
            color: #fff;
            font-size: .5em;
        }
        .buttons_ctnr{
            display: flex;
            flex-flow: row;
            gap: 2em;
            justify-content: center;
            margin-top: 2em;
            .button_like{
                @include light_shadow;
            }
        }
    }
    .minimal_cards_ctnr{
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1em;
    }
    
    .min_card{
        @include light_shadow;
        background-color: #fff;
        border-radius: 10px;
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: 2em;
        justify-content: center;
        // justify-content: flex-end;
        height: 12em;
        padding: 1em;
        width: 8em;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        outline: none;


        img{
            width: 2em;
        }
        p{
            @include md_text_alt;
            color: #000;
            text-align: center;
        }
    }

    .slider_ctnr{
        align-items: center;
        background: #c8c8c8;
        border-radius: 10px;
        display: flex;
        // height: .25em;
        height: 1em;
        width: 100%;
        justify-content: flex-start;
        cursor: pointer;
        
        .slide{
            background-color: $proj_orange;
            border-radius: 50%;
            height: 1.5em;
            width: 1.5em;
            transition: 1s;
            position: relative;
        }
    }
}


@media only screen and (min-width: $tablet_bp) {
    #minimalism_section{
        .hero_text_ctnr{
            gap: 2em;
            .description{
                width: 33%;
            }
        }
        .minimal_cards_ctnr{
            gap: 3em;
        }
    }    
}