#rain_scape_section{
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;

    background-color: #000;
    
    display: flex;
    flex-flow: column;
    align-items: center;

    justify-content: center;
    // h1{
    //     @include big_h;
    //     color: #fff;
    // }
    .cards_ctnr{
        // background-color: rgb(17, 0, 0);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 2em;
        // justify-content: space-evenly;
        align-items: center;
    }
    .card{
        height: max-content;
        mix-blend-mode: revert;
        border: .5em solid;
        border-radius: .9em;
        width: 80%;
        max-width: 15em;
        height: 10em;
        padding: .9em;
        // opacity: .9;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        p{
            @include dramatic_text;
            text-align: center;
        }
    }


}

#rain_scape_ctnr{
    position: absolute;
    top: 0;
}

#rain_canvas{
    outline: none;
    mix-blend-mode: exclusion;
    width: 100%;
    height: 100%;
}
