#skills_ctnr{
    padding: 1em;
    position: relative;
    overflow: hidden;
    .skills_bg{
        display: none;
        width: 15em;
        position: absolute;
        left: 0;

        display: none;

    }
    .skill_cards_ctnr{
        margin-top: 3em;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 5em;
        text-align: center;
        overflow: hidden;



        .skill_card:first-of-type{
            margin-top: 1em;
        }
        .skill_card:last-of-type{
            margin-bottom: 3em;
        }
    }
    h1{
        @include lg_text;
        text-align: center;
    }
}

@media only screen and (min-width: $desktop_bp){
    #skills_ctnr{
        .skills_bg{
            // display: block;
        }
        .skill_cards_ctnr{
            flex-flow: row wrap;
            max-width: 80%;
            justify-content: center;
            // max-width: 60%;
            margin: 2em auto;
        }
    }
}