#skills_ctnr{
    padding: 1em;
    // margin: 1em 0;
    .skill_cards_ctnr{
        margin-top: 3em;
        // padding: 1em;
        display: flex;
        flex-flow: column;
        align-items: center;
        // gap: 3em;
        gap: 5em;
        text-align: center;
        .skill_card:first-of-type{
            margin-top: 1em;
        }
        .skill_card:last-of-type{
            margin-bottom: 3em;
            // margin-bottom: 2
        }
    }
    h1{
        @include lg_text;
        text-align: center;
    }
}