#footer_section{
    display: flex;
    flex-flow: column;
    // background-color: #000;
    img{
        width: 2em;
    }
    #upwork, #linkedin{
        width: 5em;
    }
    .img_text_ctnr{
        display: flex;
        flex-flow: column;
        // align-items: center;
        gap: .25em;
        p{
            @include xsm_text;
            display: none;
            // font-weight: 600;
        }

    }
    .links_ctnr{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        gap: 2em;
        padding: 1em;
        background: $proj_gray;
    }
    .nav_ctnr{
        display: none;
        background-color: #000;
        padding: 1em;
        h2{
            @include lg_text;
            color: $proj_orange;
            font-weight: 600;
            text-align: center;
            margin-bottom: 1em;
        }
        ul{
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 1em;
            li{
                @include md_text_alt;
                color: #fff;
                font-weight: 600;
                text-decoration: underline;
            }
            li:hover{
                text-decoration: none;
            }
        }
    }
}


@media only screen and (min-width: $tablet_bp){
    #footer_section{
        font-size: 1.1em;
    }
}

@media only screen and (min-width: $desktop_bp){
    #footer_section{
        font-size: 1.2em;
    }
}