#footer_section{
    display: flex;
    flex-flow: column;
    // background-color: #000;
    img{
        width: 2em;
    }
    #upwork{
        width: 4em;
    }
    .img_text_ctnr{
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: .25em;
        p{
            @include xsm_text;
            // font-weight: 600;
        }

    }
    .links_ctnr{
        padding: 1em;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        gap: 2em;
    }
    .nav_ctnr{
        background-color: $proj_orange;
        padding: 1em;
        // hr{
        //     width: 1em;
        //     color: $proj_black;
        // }
        h2{
            @include lg_text;
            color: $proj_black;
            font-weight: 600;
            text-align: center;
        }
        ul{
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 1em;
            li{
                @include md_text_alt;
                color: $proj_black;
                font-weight: 600;
                // text-align: center;
                text-decoration: underline;
            }
            li:hover{
                text-decoration: none;
            }
        }
    }
}


@media only screen and (min-width: $tablet_bp){
    #footer_section{
        font-size: 1.2em;
    }
}

@media only screen and (min-width: $desktop_bp){
    #footer_section{
        font-size: 1.2em;
    }
}