#header_section{
    // background-color: red;
    background-color: #f8f8f8;
    // width: 100vw;
    height: 3em;
    padding: 1em;
    nav{
        display: flex;
        justify-content: space-around;

        height: 100%;
        align-items: center;

        p{
            @include lg_text;
        }

    }

    p{
        color: #000000;
    }

    .time_container{
        display: flex;
        align-items: center;
        gap: .25em;
    }

    .logo_container{
        display: none;

    }

    .phone_number{
        :hover{
            cursor: pointer;
        }
    }


}

@media only screen and (min-width: $desktop_bp){
    #header_section{
        .logo_container{
            display: block;
        }
    }
}
