#header_section{
    position: absolute;
    z-index: 2000;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: .5);
    nav{
        padding: 1em;
        ul{
            display: flex;
            gap: 2em;
        }
    }

    li{
        color: #fff;
    }

    .brand{
        margin-right: auto;
    }
    #hamburger{
        width: 1.2em;
    }

    .main_links{
        display: none;
    }

}

@media only screen and (min-width: $tablet_bp){
    #header_section{
        .main_links{
            display: contents;
        }
        #hamburger{
            display: none;
        }
    }
}

@media only screen and (min-width: $desktop_bp){
    #header_section{
        width: unset;
        position: relative;
        background-color: #111;
    }
    .brand {
        margin-left: 2em;
    }
    li:last-of-type{
        margin-right: 2em;
    }
}