#header_section{
    position: absolute;
    width: 100vw;
    z-index: 2000;
    nav{
        padding: 1em;
        background-color: rgba($color: #000000, $alpha: .5);
        ul{
            display: flex;
            gap: 2em;
        }
    }

    li{
        color: #fff;
    }

    .brand{
        margin-right: auto;
    }
    #hamburger{
        width: 2em;
    }

    .main_links{
        display: none;
    }

}
// #base_aside_section{
//     top: 0;
//     width: 100%;
//     z-index: 1001;
//     position: absolute;
// }

// #base_aside_section:hover{
//     background-color: var(--theme_accent) !important;

// }

// #main_nav{
//     align-items: center;
//     padding: .5em 1em;
//     display: flex;
//     justify-content: center;
//     gap: 4em;
//     margin: 0;
//     li[data-mquery="hide_on_mobile"]{
//         display: none;
//     }
//     a{
//         color: var(--text_color);
//         text-decoration: none;
//         font-size: 1.2rem;
//     }
//     a:hover{
//         border-bottom: .03em solid var(--primary);
//     }
//     h1{
//         font-size: 1rem;
//         letter-spacing: 2px;
//     }
//     img{
//         width: 2rem;
//         opacity: 1;
//     }
//     .light_switch_ctnr{
//         background-color: var(--primary);
//         width: 3rem;
//         height: 1.5rem;
//         border-radius: 2em;
//         position: relative;
//     }
//     .switch{
//         position: absolute;
//         border-radius: 50%;
//         width: 1rem;
//         height: 1rem;
//         top: .25rem;
//         transition: .5s;
//         background-color: var(--theme_accent);
//     }
// }

// #hidden_nav{
//     align-items: center;
//     background-color: var(--primary);
//     border-radius: 1rem 0rem 0rem 1rem;
//     height: 90vh;
//     display: none;
//     flex-flow: column;
//     gap: 2em;
//     justify-content: flex-start;
//     padding: 1em;
//     position: absolute;
//     right: -15em;
//     top: 0;
//     width: 40%;
//     li:first-of-type{
//         margin-top: 1em;
//     }
//     a{
//         color: var(--text_color_inv);
//         font-weight: 600;
//         font-size: 1.2rem;
//     }

// }


@media only screen and (min-width: $tablet_bp){
    #header_section{
        .main_links{
            display: contents;
        }
        #hamburger{
            display: none;
        }
    }

    // #hidden_nav{
    //     display: none;
    // }
    
    // #base_aside_section{
    //     .h1_flexi{
    //         margin-right: auto;
    //     }
    // }
}

// @media only screen and (min-width: $desktop_bp){
//     #base_aside_section{
//         ul{
//             justify-content: flex-end;
//             .light_switch_flexi{
//                 order: 9;
//             }
//         }
//     li[data-mquery="hide_on_mobile"]{
//         display: block;
//     }
//     .menu_flexi{
//         display: none;
//     }
// }
// }