#hidden_section{
    background: rgba($color: #000000, $alpha: .7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 300;
    transition: 1s;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    filter: blur(400px);
    opacity: 0;
    display: none;
    .modal_ctnr{
        display: flex;
        background: rgba($color: #111, $alpha: .9);
        width: 80%;
        max-width: 40em;
        height: 70%;
        border-radius: 20px;
        position: relative;
        z-index: 100;
        nav{
            width: 100%;
            height: 100%;
        }
        ul{
            display: flex;
            flex-flow: column;
            justify-content: flex-start;    
            align-items: center;
            margin-top: 2em;
            gap: 2em;
            height: 100%;
        }
        li{
            @include lg_text;
        }
        img{
            width: 2em;
        }
    }
    .glass_back{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba($color: #000000, $alpha: .8);
        z-index: 99;
        filter:blur(100px)
    }

}

