
{% from 'components/pieces/button_like.html' import button_like %}
{% from 'components/navigation/linkset.html' import linkset %}

{% macro footer(socials_schema) %}

<section id="footer_section">
        
    <div class="links_ctnr">

        <a href="{{socials_schema.github.link}}" target="_blank">
            <div class="img_text_ctnr">
                <img
                    src="{{url_for('static', filename='images/assets/icons/github.svg')}}"
                >
                <p>
                    github
                </p>
            </div>
        </a>
        
        <a href="{{url_for('static', filename='docs/BarreraAlexanderResume21.pdf')}}" download>
            <div class="img_text_ctnr">
                <img
                    src="{{url_for('static', filename='images/assets/icons/resume.svg')}}"
                >
                <p>
                    resume
                </p>
            </div>
        </a>

        <a href="{{socials_schema.upwork.link}}" target="_blank">
            <div class="img_text_ctnr">
                <img
                    id="upwork"
                    src="{{url_for('static', filename='images/assets/icons/upwork_logo.svg')}}"
                >
                <p>
                    upwork
                </p>
            </div>
        </a>

        <a href="{{socials_schema.linkedin.link}}" target="_blank">
            <div class="img_text_ctnr">
                <img
                    id="linkedin"
                    src="{{url_for('static', filename='images/assets/icons/linkedin.svg')}}"
                >
                <p>
                    linkedin
                </p>
            </div>
        </a>

    </div>
    
    <div class="nav_ctnr">
        <h2>
            Navigation
        </h2>
        <ul>
            {{linkset()}}
            {{button_like('resume')}}
        </ul>
    </div>

</section>

{% endmacro %}