{% from 'components/pieces/button_like.html' import button_like %}
{% from 'components/navigation/linkset.html' import linkset %}

{% macro header(buttonlikes_schema) %}

<section id="header_section">
    <nav>
        <div class="time_container">
            <div class="pulse_blob"></div>
            <p>
                Miami, FL <span id="header_time"></span>
            </p>
        </div>
        <div class="logo_container">
            <p>
                BARRERA
            </p>
        </div>
        <a href="tel:+19548828507">
            <div class="phone_number">
                <p>
                    954-882-8507
                </p>
            </div>
        </a>
    </nav>

</section>


{% endmacro %}
