{% from 'components/pieces/button_like.html' import button_like %}
{% from 'components/navigation/linkset.html' import linkset %}

{% macro header() %}

<section id="header_section">
    <nav>
        <ul>

            <a href="{{url_for('main.index')}}">
                <li class="brand">
                    [ AB ]
                </li>
            </a>

            <a>
                <img
                    id="hamburger"
                    class="open_navigation_menu"
                    src="{{url_for('static', filename='images/assets/icons/hamburger.svg')}}"
                    alt="menu toggle icon"
                    aria-label="menu"
                >
            </a>

            <div class="main_links">
                {{linkset()}}

            </div>

            <div class="buttons_ctnr">
                {{button_like('call')}}
                {{button_like('contact')}}
                
            </div>


        </ul>
    </nav>

</section>
{% endmacro %}