{% from 'components/pieces/button_like.html' import button_like %}
{% from 'components/navigation/linkset.html' import linkset %}

{% macro header(buttonlikes_schema) %}

<section id="header_section">
    <nav>
        <ul>
            <a
                href="{{url_for('main.index')}}">
                <li
                    class="brand"
                >
                    [ AZB ]
                </li>
            </a>

            <a>
                <img
                    id="hamburger"
                    class="open_navigation_menu navigation_button"
                    src="{{url_for('static', filename='images/assets/icons/hamburger.svg')}}"
                    alt="menu toggle icon"
                    aria-label="menu"
                >
            </a>

            <div class="main_links">
                {{linkset()}}

            </div>

            <div class="buttons_ctnr">
                {{button_like(buttonlikes_schema.call)}}
                
            </div>


        </ul>
    </nav>

</section>
{% endmacro %}