#base_footer_section{
    background-color: var(--bg_invert);
    padding: 1em;
    color:var(--text_color_inv);
    footer{
        display: flex;
        flex-flow: column nowrap;
    }
    h5{
        font-size: 1.5rem;
        margin: .5em;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }
    a{
        font-size: 1.2rem;
        color:var(--text_color_inv);
    }
    li{
        margin-bottom: .2em;
    }

}


@media only screen and (min-width: $desktop_bp){
    #base_footer_section{
        footer{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
        }
    }
}