#contact_modal_section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba($color: #000000, $alpha: .7);
    top: 0;
    .modal_ctnr{
        box-shadow: .09em .1em 2.2em .1em var(--theme_accent);
        border-radius: $border_radius;
        width: 45%;
        min-width: 15em;
        padding: 2em;
        background-color: var(--bg);
    }
}

#contact_modal_section[data-status="closed"]{
    display: none;
}


#contact_form{
    display: contents;
    .form_ctnr{
        display: flex;
        flex-flow: column;
        gap: 1em;
        align-items: center;
    }
    #cancel_ctnr{
        display: block;
        width: 1.5em;
        align-self: flex-end;
        svg{
            width: 100%;
        }
    }
    #cancel_ctnr:hover{
        filter: invert(100%);
    }
    .form_group{
        display: flex;
        flex-flow: column;
    }
    .form_group label{
        @include quiet_text;
        font-size: .9em;
    }
    input:focus, textarea:focus{
        border-color: var(--primary);
        border: $border_width_thick solid var(--text_color);
        transition: .1s;
        outline-width: 0;
        outline: none;
    }
    input:hover, textarea:hover{
        border-color: var(--primary);
    }

    input, textarea{
        // background-color: var(--bg);
        border: $border_width solid transparent;
        border-radius: $border_radius;
        background-color: var(--text_color_inv);
        color: var(--text_color);
        // border: none;
        
        padding: .8em;
        width: 20em;
    }

    textarea{
        min-height: 8rem;
    }
    #submit{
        @include inverse_btn;
        width: 8em;
        font: 1.2rem;
    }
    #submit:hover{
        @include primary_btn;
    }
}
