#day_ctnr{
    display: flex;
    .left{
        display: flex;
        gap: 1rem;
        text-align: center;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2em;
        h3{
            @include dramatic_text;
            font-size: 3em
        }
        p{
            @include quiet_text;
        }
        button{
            @include inverse_btn;
            @include dramatic_text;
            padding: .5em 1em;
            font-size: 1em;
            width: 16em;
            font-weight: unset;
            min-width: max-content;
        }
        button:hover{
            @include primary_btn;
            font-weight: unset;
        }
    }
    .right{
        @include theme_shifting_bg;
        display: none;
        justify-content: center;
        width: max-content;
        padding-top: $common_margin_top;
        img{
            @include shift_filter;
            width: 100%;       
        }
    }
    .day_caption_ctnr{
        display: flex;
        align-items: center;
        img{
            width: 3rem;
        }
        span{
            font-weight: 400;
        }
    }
    #job_span{
        position: relative;
    }
}

@media only screen and (min-width: $desktop_bp){
    #day_ctnr{
        .right{
            display: flex;
        }
        .left{
            h3{
                font-size: 5em;
            }
        }
    }
}