.interactive_project_cards_ctnr{
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 2em;
    margin-top: $common_margin_top;
}

.interactive_project_card{
    // @include shadow;
    box-shadow: .02em .05em .5em .04em var(--secondary);
    display: flex;
    border-radius: 1em;
    max-width: 45em;
    overflow: hidden;
    height: 10em;
    transition: .5s;
    width: 90%;
    a{
        display: contents;
    }
    .left_div,
    .right_div{
        flex: 1;
        padding: 1em;
        // height: 10em;
        position: relative;
    }
    .left_div:hover,
    .right_div:hover
    {
        transform: scale(1.015);
    }

    .left_div{
        z-index: 100;
        h3{
            @include quiet_text;
            font-size: 1.2em;
            text-align: center;
            border-bottom: .015em dashed #fff;
        }
        .text_blob{
            .expanded_text{
                display: none;
            }
            
            margin-top: .5em;
        }
    }
    .right_div{
        align-items: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        z-index: 99;
        gap: 1em;
        h3{
            font-size: 1.2em;
            text-align: center;
            font-family: 'Roboto Condensed'
        }
        img{
            border: $border_width solid #000;
            background-color: #000;
            border-radius: 50%;
            width: 3em;
            padding: .25em;
        }
        #ppb_logo{
            
        }
        #tod_logo{

        }
        #lit_logo{
            padding: .25em;
            // width: 1em;
        }
    }

}

.interactive_project_card:hover{
    transform: skew(5deg);
    transition: .5s;
}

.interactive_project_card[data-variant=tod]{
    $tod_primary : #03142a;
    $tod_secondary : #14eeee;

    .left_div{
        background-color: $tod_primary;
        color: #fff;
        h3{
            color: #fff;
        }
    }
    
    .right_div{
        background-color: $tod_secondary;
        color: #000;
    }
}

.interactive_project_card[data-variant=ppb]{
    $ppb_primary : #34345D;
    $ppb_secondary : #41F2FF;
    
    .left_div{
        background-color: $ppb_primary;
        color: #fff;
        h3{
            color: #fff;
        }
    }
    
    .right_div{
        background-color: $ppb_secondary;
        color: #000;
    }
}


.interactive_project_card[data-variant=lit]{
    $lit_primary : #49f1b9;
    $lit_secondary : #2f2f2f;
    
    .left_div{
        background-color: $lit_primary;
        color: #000;
        h3{
            color: #000;
            border-bottom: .015em dashed #000;
        }
    }
    
    .right_div{
        background-color: $lit_secondary;
        color: #fff;

    }
}

@media only screen and (min-width: $tablet_bp){
    .interactive_project_card{
        height: 25em;
        .left_div{
            .text_blob{
                .expanded_text{
                    display: block;
                }
                
            }
        }
        .right_div{
            gap: 2em;
            img{
                width: 7em;
                border: none;
                border-radius: unset;
            }

        }


    }
}