.interactive_project_cards_ctnr{
    align-items: center;
    display: flex;
    flex-flow: column;
    gap: 2em;
    margin-top: $common_margin_top;
}

.interactive_project_card{
    box-shadow: .02em .05em .5em .04em var(--shadow);
    display: flex;
    border-radius: 1em;
    max-width: 45em;
    overflow: hidden;
    height: max-content;
    transition: .5s;
    width: 90%;
    a{
        display: contents;
    }
    .left_div,
    .right_div{
        flex: 1;
        padding: 1em;
        position: relative;
    }
    .left_div:hover,
    .right_div:hover
    {
        transform: scale(1.015);
    }

    .left_div{
        z-index: 100;
        h3{
            @include quiet_text;
            font-size: 1.2em;
            text-align: center;
            border-bottom: .015em dashed #fff;
        }
        .text_blob{
            display: flex;
            flex-flow: column;
            gap: 1em;
            // gap: .5em;
            font-size: .8em;
            .expanded_text{
                display: none;
            }
            label{
                font-size: .8em;
            }
            margin-top: .5em;
        }
        ul[data-variant=tod]{
            label{
                color: $tod_secondary;
            }
        }
        ul[data-variant=ppb]{
            label{
                color: $ppb_secondary;
            }
        }
        ul[data-variant=lit]{
            label{
                color: $lit_secondary;
            }
        }
    }
    .right_div{
        align-items: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        z-index: 99;
        gap: 1em;
        h3{
            font-size: 1.2em;
            text-align: center;
            font-family: 'Roboto Condensed'
        }
        img{
            border: $border_width solid transparent;
            border-radius: 1em;
            width: 3em;
            padding: .5em;
        }
        #ppb_logo{
            background-color: $ppb_primary;
            
        }
        #tod_logo{
            background-color: $tod_primary;
            
        }
        #lit_logo{
            background-color: $lit_primary;
        }
        .proj_link{
            @include quiet_text;
            font-size: .7em;
            font-weight: 400;
        }
        .proj_link:hover{
            text-decoration: underline;
        }
        .proj_link[data-variant=ppb],
        h3[data-variant=ppb]
        {
            color: $ppb_primary;
        }
        .proj_link[data-variant=tod],
        h3[data-variant=tod]
        {
            color: $tod_primary;
        }
        .proj_link[data-variant=lit],
        h3[data-variant=lit]
        {
            color: $lit_primary;
        }
    }

}

.interactive_project_card:hover{
    transform: skew(2deg);
    transition: .5s;
}

.interactive_project_card[data-variant=tod]{

    .left_div{
        background-color: $tod_primary;
        color: #fff;
        h3{
            color: #fff;
        }
    }
    
    .right_div{
        background-color: $tod_secondary;
        color: #000;
    }
}

.interactive_project_card[data-variant=ppb]{

    
    .left_div{
        background-color: $ppb_primary;
        color: #fff;
        h3{
            color: #fff;
        }
    }
    
    .right_div{
        background-color: $ppb_secondary;
        color: #000;
    }
}


.interactive_project_card[data-variant=lit]{
    .left_div{
        background-color: $lit_primary;
        color: #000;
        h3{
            color: #000;
            border-bottom: .015em dashed #000;
        }
    }
    
    .right_div{
        background-color: $lit_secondary;
        color: #fff;

    }
}

@media only screen and (min-width: $tablet_bp){
    .interactive_project_card{
        // height: 28em;
        .left_div{
            .text_blob{
                .expanded_text{
                    display: block;
                }
                
            }
        }
        .right_div{
            gap: 2em;
            img{
                width: 7em;
            }

        }


    }
}