.project{
    border-radius: 1em;
    display: flex;
    flex-flow: column nowrap;
    gap: .5em;
    justify-content: flex-start;
    margin-bottom: 5em;
    // width: 100%;
    // width: 70%;
    // min-width: none;
    // max-width: 70%;
    h3{
        font-size: 1.5rem;
        color: var(--primary);
    }
    p{
        min-width: 20rem;
        max-width: 60rem;
        width: 70%;
        color: var(--text_color);
    }
    a{
        color: #c9c9c9;
        font-size: 1.2rem;
        font-style: italic;
    }

    img{
        border: .15em solid var(--primary);
        width: 70%;
        min-width: 20rem;
        max-width: 60rem;
        // width: 100%;
        border-radius: .9em;
    }
    .project_row{
        p{
            margin-top: 1em;
        }
        img{
            margin-top: 1em;
        }
    }
}

.project:last-of-type{
    margin-bottom: 1em;
}


@media only screen and (min-width: $tablet_bp){
    .project{
        margin-bottom: 2em;
        padding: 1em;
    }
    .project_row{
        display: flex;
        flex-flow: row-reverse;
        gap: 1.5em;
        justify-content: left;
        flex-shrink: 1;
        img{
            max-width: 70rem;
            // height: 10em;
        }
        p{
            max-width: 20rem;
        }
    }    
}

@media only screen and (min-width: $desktop_bp){
    .project_row{
        img{
            width: 100%;
            height: unset;
    }
    }
}