#rain_scape_section{
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;

    background-color: #000;
    
    display: flex;
    flex-flow: column;
    align-items: center;

    justify-content: center;
    // h1{
    //     @include big_h;
    //     color: #fff;
    // }
}

#rain_scape_ctnr{
    position: absolute;
    top: 0;
}

#rain_canvas{
    outline: none;
    mix-blend-mode: exclusion;
    width: 100%;
    height: 100%;
}

