.technologies_ctnr{
    background-color: var(--theme_accent);
    border: 3px solid var(--primary);
    display: flex;
    flex-flow: row wrap;
    gap: 1.5em;
    padding: 1em;
    justify-content: center;

    .tech_img_ctnr{
        background-color: var(--text_color_inv);
        border: 3px solid #c8c8c8;
        border-radius: 50%;
        display: flex;            
        padding: 1em;
        width: 2rem;
        height: 2rem;
        img{
            width: 100%;
        }
    }
    #tech_img9{
        img{
            width: 110%;
        }
    }
}


@media only screen and (min-width: $desktop_bp){
    .technologies_ctnr{
        .tech_img_ctnr{
            width: 3rem;
            height: 3rem;
        }
    }
}

