#tools_grid{
    display: flex;
    gap: .5em;
    justify-content: center;
    .col{
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: 1em;
        justify-content: center;
        p{
            font-size: .8em;
        }
    }
    .learning_ctnr{
        .tool{
            background-color: var(--tool_learning);
        }
    }

    .mastered_ctnr{
        .tool{
            background-color: var(--tool_mastered);
        }
    }
    .covet_ctnr{
        .tool{
            background-color: var(--tool_covet);
        }
    }
    .tool{
        align-items: center;
        display: flex;
        flex-flow: column;
        gap: 1em;
        height: 4em;
        justify-content: center;
        padding: 1em;
        text-align: center;
        border-radius: $border_lgradius;
        width: 3em;
        p{
            @include quiet_text;
            font-size: .7em;
            font-weight: 400;
        }
        img{
            width: 2em;
        }
    }
    .tool:hover{
        transform: skew(2deg);
    }
    #mysql_tool, #windows_tool{
        img{
            padding: .25em;
            background-color: #000;
        }
    }
}



#keytable{
    opacity: .8;
    background-color: var(--theme_accent);
    border-radius: $border_radius;
    height: max-content;
    width: 10em;
    margin-top: $common_margin_top;
    margin-bottom: 1em;
    ul{
        display: flex;
        flex-flow: column;
        padding: 1em;
    }
    li{
        align-items: center;
        display: flex;
        gap: .5em;
        font-size: .9em;
        p{
            font-size: 1em;
            
        }
        .circle{
            border: $border_width solid transparent;
            border-radius: 50%;
            height: .5em;
            width: .5em;
        }
        .circle[data-type=learning]{
            background-color: var(--tool_learning);
        }
        .circle[data-type=mastered]{
            background-color: var(--tool_mastered);
        }
        .circle[data-type=covet]{
            background-color: var(--tool_covet);
        }
    }
}