#upwork_section{
    align-items: center;
    background-color: var(--upwork_bg);
    color: var(--text_color);
    display: flex;
    flex-flow: column;
    padding: 2em;
    h1{
        @include dramatic_text;
        text-align: center;
        font-size: 5em;
    }
    .profile_summary{
        max-width: 60em;
    }
    img{
        width: 100%;
    }
}