html[data-main_theme="light"]{
    --bg: #{$lt_bg};
    --bg_invert: #{$dk_bg};
    --text_color: #{$dk_primary};
    --text_color_inv: #{$lt_primary};
    --accent: #{$proj_black};
    --theme_accent: #{$lt_accent};
    --primary: #{$lt_theme_primary};
    --secondary: #{$lt_theme_secondary};
    
    #night_ctnr{
        display: none;
    }
    #day_ctnr{
        display: block;
    }
    .switch{
        left: 1.5rem;
    }
    .caption_ctnr{
        display: none;
    }
}

html[data-main_theme="dark"]{
    --bg: #{$dk_bg};
    --bg_invert: #{$lt_bg};
    --text_color: #{$lt_primary};
    --text_color_inv: #{$dk_primary};
    --accent: #{$proj_gray};
    --theme_accent: #{$dk_accent};
    --primary: #{$dk_theme_primary};
    --secondary: #{$dk_theme_secondary};


    #night_ctnr{
        display: block;
    }
    #day_ctnr{
        display: none;
    }

    .switch{
        left: .25rem;
    }
}

body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text_color);
    background-color: var(--text_color_inv);
}



#windows_logo{
    width: 6rem;
}

.hide_on_mobile{
    display: none;
}

.hide_on_tablet{
    display: none;
}

.show_on_desktop{
    display: none;
}

@media only screen and (min-width: $tablet_bp){
    body, html{
        font-size: 1.3em;
    }
    .show_on_tablet{
        display: block;
    }
    .hide_on_tablet{
        display: block;
    }
    .hide_on_mobile{
        display: block;
    }
}


@media only screen and (min-width: $desktop_bp){
    body, html{
        font-size: 1.3em;
    }
    .show_on_desktop{
        display: block;
    }  
}

@media only screen and (min-width: $desktop_4k_bp){
    body, html{
        font-size: 2.3em;
    }
}