html[data-main_theme="light"]{
    --bg: #{$lt_bg};
    --bg_invert: #{$dk_bg};
    --text_color: #{$dk_primary};
    --text_color_inv: #{$lt_primary};
    --accent: #{$proj_black};
    --theme_accent: #{$lt_accent};
    --primary: #{$lt_theme_primary};
    --secondary: #{$lt_theme_secondary};
    
    #night_ctnr{
        display: none;
    }
    #day_ctnr{
        display: block;
    }
    .switch{
        left: 1.5rem;
    }
}

html[data-main_theme="dark"]{
    --bg: #{$dk_bg};
    --bg_invert: #{$lt_bg};
    --text_color: #{$lt_primary};
    --text_color_inv: #{$dk_primary};
    --accent: #{$proj_gray};
    --theme_accent: #{$dk_accent};
    --primary: #{$dk_theme_primary};
    --secondary: #{$dk_theme_secondary};


    #night_ctnr{
        display: block;
    }
    #day_ctnr{
        display: none;
    }

    .switch{
        left: .25rem;
    }
}

body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'GoogleSans', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text_color);
    background-color: var(--text_color_inv);
}



#windows_logo{
    width: 6rem;
}


//SECTION: base_aside
#base_aside_section{
    top: 0;
    opacity: .7;
    width: 100%;
    z-index: 1001;
    position: relative;
    :hover{
        background-color: var(--text_color_inv);
    }
    #main_nav{
        align-items: center;
        background-color: var(--bg);
        padding: 1em 2em;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--text_color);
        gap: 4em;
        margin: 0;
        li[dataset-mquery="hide_on_mobile"]{
            display: none;
        }
        a{
            color: var(--text_color);
            text-decoration: none;
        }
        a:hover{
            border-bottom: .03em solid var(--primary);
        }
    }
    h1{
        font-size: 1rem;
        letter-spacing: 2px;
    }
    img{
        width: 2rem;
        opacity: 1;
    }
    .light_switch_ctnr{
        background-color: var(--primary);
        width: 3rem;
        height: 1.5rem;
        border-radius: 2em;
        position: relative;
    }
    .switch{
        position: absolute;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        top: .25rem;
        transition: .5s;
        background-color: var(--theme_accent);
    }
    #hidden_nav{
        background-color: var(--primary);
        border-radius: 1rem 0rem 0rem 1rem;
        height: 90vh;
        display: flex;
        flex-flow: column;
        gap: 2em;
        justify-content: flex-start;
        padding: 1em;
        position: absolute;
        right: 0;
        li:first-of-type{
            margin-top: 1em;
        }
        a{
            color: var(--text_color_inv);
            font-weight: 600;
        }

    }
}

#base_footer_section{
    background-color: var(--bg_invert);
    padding: 1em;
    color:var(--text_color_inv);
    footer{
        display: flex;
        flex-flow: column nowrap;
    }
    h5{
        font-size: 1.5rem;
        margin: .5em;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        
    }
    a{
        font-size: 1.2rem;
        color:var(--text_color_inv);
    }
    li{
        margin-bottom: .2em;
    }

}

@media only screen and (min-width: $tablet_bp){
    #base_aside_section{
        #hidden_nav{
            display: none;
        }
    }
}
