#about_section{
    background-color: var(--bg_invert);
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 2em;
    flex-flow: wrap;
    gap: 2em;
    h1{
        @include dramatic_text;
        border-bottom: .10em solid var(--text_color_inv);
        color: var(--text_color_inv); 
        font-size: 2rem;
        width: max-content;
    }
}

.about_section_left, .about_section_right{
    flex: 1;
}

.about_section_right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-width: 20em;
    max-width: 100%;
    p:first-of-type{
        @include quiet_text;
        font-size: 2em
    }
    p{
        @include dramatic_text;
        font-size: 8em;
        text-align: center;
    }
}

.qa_ctnr{
    color: var(--text_color_inv);
    margin-top: 1em;
    border-radius: .9em;
    overflow: hidden;
    max-width: 80rem;
    border: .09em solid var(--text_color_inv);
    strong{
        font-weight: 700;
        float: left;
        margin-right: .5em;
    }

}

.question_ctnr, .answer_ctnr{
    @include quiet_text;
    padding: 1em;
}

.question_ctnr{
    background-color: var(--bg);
    color: var(--text_color);
    p{
        font-style: italic;
    }
}
.answer_ctnr{
    background-color: var(--bg_invert);
    color: var(--text_color_inv);
}


@media only screen and (min-width: $tablet_bp){
    #about_section{

        hr{
            display: block;
        }
    }
}