html[data-main_theme="light"]{
    --bg: #{$lt_bg};
    --bg_invert: #{$dk_bg};
    --text_color: #{$dk_primary};
    --text_color_inv: #{$lt_primary};
    --accent: #{$proj_black};
    --theme_accent: #{$lt_accent};
    --primary: #{$lt_theme_primary};
    --secondary: #{$lt_theme_secondary};
    transition: 1s;

    #night_ctnr{
        display: none;
    }

    #day_ctnr{
        display: flex;
    }

    #hero_h1{
        display: none;
    }

    // transition: 1s;
    
    .switch{
        left: 1.5rem;
    }
    .caption_ctnr{
        display: none;
    }
    #index_section1{
        height: unset;
    }
    #mountain{
        display: none;
    }
    #base_aside_section{
        background-color: var(--text_color_inv);
        position: relative;
    }
    .about_section_right{
        p{
            color: lime;
        }
    }
    .hero_ctnr{
        height: unset;
    }

    #contact_modal_section{
        .modal_ctnr{
            box-shadow: none;
        }
    }

}

html[data-main_theme="dark"]{
    --bg: #{$dk_bg};
    --bg_invert: #{$lt_bg};
    --text_color: #{$lt_primary};
    --text_color_inv: #{$dk_primary};
    --accent: #{$proj_gray};
    --theme_accent: #{$dk_accent};
    --primary: #{$dk_theme_primary};
    --secondary: #{$dk_theme_secondary};

    // transition: 1s;

    #night_ctnr{
        display: block;
    }
    #day_ctnr{
        display: none;
    }

    .switch{
        left: .25rem;
    }
    .about_section_right{
        p{
            color: green;
        }
    }
}

body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text_color);
    background-color: var(--text_color_inv);
    transition: 1s;
}



#windows_logo{
    width: 6rem;
}

.hide_on_mobile{
    display: none;
}

.hide_on_tablet{
    display: none;
}

.show_on_desktop{
    display: none;
}




@media only screen and (min-width: $tablet_bp){
    body, html{
        font-size: 1.1em;
    }
    .show_on_tablet{
        display: block;
    }
    .hide_on_tablet{
        display: block;
    }
    .hide_on_mobile{
        display: block;
    }
}


@media only screen and (min-width: $desktop_bp){
    body, html{
        font-size: 1.1em;
    }
    .show_on_desktop{
        display: block;
    }  
}

@media only screen and (min-width: $desktop_4k_bp){
    body, html{
        // font-size: 2em;
        font-size: 1.5em;
        // font-size: 1.8em;
    }
}