html[data-main_theme="dark"]{
    --bg: #{$dk_bg};
    --bg_invert: #{$lt_bg};
    --text_color: #{$lt_primary};
    --text_color_inv: #{$dk_primary};
    --accent: #{$proj_gray};
    --theme_accent: #{$dk_accent};
    --primary: #{$dk_theme_primary};
    --secondary: #{$dk_theme_secondary};
    --upwork_bg: #{$up_dark};
    --shadow: #{$dk_shadow};

    --tool_mastered: #{$tool_mastered_dk};
    --tool_learning: #{$tool_learning_dk};
    --tool_covet: #{$tool_covet_dk};



    #night_ctnr{
        display: block;
    }
    #day_ctnr{
        display: none;
    }

    .switch{
        left: .25rem;
    }
    .about_section_right{
        p{
            color: green;
        }
    }
}

body, html{
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text_color);
    background-color: var(--text_color_inv);
    transition: 1s;
}

@media only screen and (min-width: $tablet_bp){
    body, html{
        font-size: 1.1em;
    }
}


@media only screen and (min-width: $desktop_bp){
    body, html{
        font-size: 1.1em;
    }
    .show_on_desktop{
        display: block;
    }  
}
