#index_section1{
    overflow: hidden;
    position: relative;
    z-index: 1000;
    height: 80vh;
}

.hero_ctnr{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    padding: 1em;
    top: 0;
    width: 90%;
    h1{
        @include proj_h1;
        padding: 2em;
        text-align: center;
        z-index: 1001;
    }
    a{
        color: var(--primary);
    }
}


#night_ctnr{
    z-index: 999;
    opacity: .8;
}


#globe_canvas{
    outline: none;
    mix-blend-mode: exclusion;
    width: 100%;
    height: 100vh;
}


#mountain{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 200;
    filter: grayscale(100%);
    // filter: saturate(4);
    opacity: .8;
}

.caption_ctnr{
    align-items: center;
    background-color: rgba($color: #222, $alpha: 0.4);
    border-radius: 5px;
    color: var(--text_color);
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5rem;
    gap: 1em;
    justify-content: center;
    opacity: .7;
    padding: 1em 2em;
    position: relative;
    text-align: center;
    z-index: 1001;
    p, a{
        @include quiet_text;
        font-size: 1.5rem;
        margin: 0;
    }
    button{
        @include quiet_text;
        font-weight: unset;
        font-size: 1.2rem;
        padding: .5em 1em;
        width: max-content;
        border-radius: 10px;
        background-color: var(--bg);
        color: var(--text_color);
    }
    
}

.caption_ctnr:hover{
    background-color: #fff;
    opacity: 1;
    p, a{
        color: #000;
    }
    button{
        background-color: #fff;
        border:2px solid #000;
        color: #000;
    }
    button:hover{
        background-color: #000;
        color: #fff;
    }
}


#index_section2{
    background-color: var(--theme_accent);
    padding: $common_section_padding;
    h2{
        letter-spacing: 4px;
        text-align: left;
        font-size: 3rem;
        text-decoration: underline;
    }
}


#index_section3{
    padding: $common_section_padding;
    position: relative;
    text-align: right;
    span{
        color: var(--secondary);
    }
}

#index_section4{
    background-color: var(--bg);
    padding: 2em;
    position: relative;
    h2{
        @include dramatic_text;
        text-align: center;
        font-size: 5em;
    }
}


#index_section5{
    background-color: var(--theme_accent);
    padding: $common_section_padding;
}


.aboutme_paragraph{
    @include quiet_text;
    font-size: 2em;
    max-width: 80%;
    margin: 1em auto;
}


#aboutme_img{
    width: 8em;
}

.aboutme_ctnr{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 1em;
    position: relative;
    left: 1em;
    margin-bottom: 1em;
    margin-top: $common_margin_top;
    overflow: hidden;
    *{
        z-index: 1000;
    }
}

.aboutme_text_ctnr{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

}

.aboutme_text{
    @include quiet_text;
    font-size: 1.5em;
}

.img_of_me{
    width: 8em;
    border-radius: 10px;
    margin: 1em;
    border: 5px solid var(--primary);
}

.img_of_me:hover{
    filter: none;
}




@media only screen and (min-width: $tablet_bp){
    .hero_ctnr{
        h1{
            @include neon_text;
            font-size: 5em;
        }
    }
    .caption_ctnr{
        margin-top: unset;
    }
    #index_section1{
        height: 100vh;
    }    
}
@media only screen and (min-width: $desktop_bp){
    .img_of_me{
        width: 12em;
        filter: grayscale(100%);
    }
    .aboutme_ctnr{
        justify-content: center;
        gap: 3em;
    }

    #index_section4{
        padding: 2em 4em;
    }

}
